<%= form_with url: export_pokemons_path(format: :csv), method: :get, local: true, class: "container mb-4 w-full mx-auto" do %>
  <h1 class="text-3xl font-bold mb-6 text-center">Pokédex - Première Génération</h1>
  <div class="overflow-x-auto w-full">
    <table class="min-w-full bg-white border border-gray-300">
      <thead>
        <tr class="bg-gray-200 text-gray-600 uppercase text-sm leading-normal">
          <th class="py-3 px-6 text-left">Select</th>
          <th class="py-3 px-6 text-left">Pokedex ID</th>
          <th class="py-3 px-6 text-left">Name</th>
          <th class="py-3 px-6 text-left">Sprite</th>
          <th class="py-3 px-6 text-left">Types</th>
        </tr>
      </thead>
      <tbody class="text-gray-600 text-sm font-light">
        <% @pokemons.each do |pokemon| %>
          <tr class="border-b border-gray-200 hover:bg-gray-100">
            <td class="py-3 px-6 text-left"><%= check_box_tag "pokemon_ids[]", pokemon[:pokedex_id] %></td>
            <td class="py-3 px-6 text-left"><%= pokemon[:pokedex_id] %></td>
            <td class="py-3 px-6 text-left"><%= pokemon.dig(:name, :fr) %></td>
            <td class="py-3 px-6 text-left">
              <%= image_tag pokemon.dig(:sprites, :regular), loading: 'lazy', class: "w-12 h-12" if pokemon.dig(:sprites, :regular) %>
            </td>
            <td class="py-3 px-6 text-left">
              <% if pokemon[:types] %>
                <div class="flex space-x-2">
                  <% pokemon[:types].each do |type| %>
                    <%= image_tag type[:image], alt: type[:name], loading: 'lazy', class: "w-6 h-6" %>
                  <% end %>
                </div>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="mt-4 text-center">
    <%= submit_tag "Export to CSV", class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" %>
  </div>
<% end %>
