<h1>Pokédex - Première Génération</h1>

<%= form_with url: export_pokemons_path(format: :csv), method: :get, local: true do %>
  <table>
    <thead>
      <tr>
        <th>Select</th>
        <th>Pokedex ID</th>
        <th>Name</th>
        <th>Sprite</th>
        <th>Types</th>
      </tr>
    </thead>
    <tbody>
      <% @pokemons.each do |pokemon| %>
        <tr>
          <td><%= check_box_tag "pokemon_ids[]", pokemon[:pokedex_id] %></td>
          <td><%= pokemon[:pokedex_id] %></td>
          <td><%= pokemon.dig(:name, :fr) %></td> <!-- Extrait le nom en français -->
          <td><%= image_tag pokemon.dig(:sprites, :regular), loading: 'lazy' if pokemon.dig(:sprites, :regular) %></td>
          <td>
            <% if pokemon[:types] %>
              <% pokemon[:types].each do |type| %>
                <%= image_tag type[:image], alt: type[:name], loading: 'lazy' %>
              <% end %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= submit_tag "Export to CSV" %>
<% end %>
