<header class="mt-44">
  <div class="fixed top-0 left-0 right-0 bg-white shadow-md z-50 p-6">
    <div class="flex justify-between items-center">
      <div class="flex items-center space-x-4">
        <%= link_to image_tag("Logo-Hop3Dex.png", alt: "Logo", class: "w-32 h-auto md:w-44"), root_path %>
        <h1 class="text-2xl md:text-4xl font-bold hidden md:block">Première Génération</h1>
      </div>
      <div class="md:hidden">
        <button id="burger-button" class="text-gray-800 focus:outline-none">
          <svg class="w-8 h-8" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
          </svg>
        </button>
      </div>
      <div id="menu" class="hidden md:flex flex-col md:flex-row items-center space-y-4 md:space-y-0 md:space-x-4 mt-4 md:mt-0">
        <%= form_with url: pokemons_path, method: :get, class: 'flex flex-col md:flex-row items-center space-y-4 md:space-y-0 md:space-x-4', local: true do %>
          <div class="flex flex-col md:flex-row items-center space-y-4 md:space-y-0 md:space-x-4">
            <div class="flex flex-col items-start md:items-center">
              <%= label_tag :generation, "Filtrer par génération :", class: 'text-sm font-medium text-gray-700' %>
              <%= select_tag :generation, options_for_select((1..9).to_a.map { |g| ["Génération #{g}", g] }.prepend(["Toutes les générations", "all"]), selected: params[:generation] || "1"), include_blank: false, class: 'rounded-md border-gray-300 focus:ring-yellow-500 focus:border-yellow-500 shadow-sm px-8 py-2' %>
            </div>
            <div class="flex flex-col items-start md:items-center">
              <%= label_tag :type, "Filtrer par type :", class: 'text-sm font-medium text-gray-700' %>
              <%= select_tag :type, options_for_select(@pokemon_types, selected: params[:type]), include_blank: true, class: 'rounded-md border-gray-300 focus:ring-yellow-500 focus:border-yellow-500 shadow-sm px-8 py-2' %>
            </div>
            <div class="flex flex-col items-start md:items-center">
              <%= label_tag :sort_order, "Trier par :", class: 'text-sm font-medium text-gray-700' %>
              <%= select_tag :sort_order, options_for_select([['Croissant', 'asc'], ['Décroissant', 'desc']], selected: params[:sort_order]), include_blank: true, class: 'rounded-md border-gray-300 focus:ring-yellow-500 focus:border-yellow-500 shadow-sm px-8 py-2' %>
            </div>
            <div class="flex flex-col items-start md:items-center">
              <%= label_tag :query, "Filtrer par nom :", class: 'text-sm font-medium text-gray-700' %>
              <%= text_field_tag :query, params[:query], placeholder: 'Rechercher un pokémon...', class: 'max-w-sm rounded-md border-gray-300 shadow-sm px-4 py-2 outline-none focus:ring-yellow-500 focus:border-yellow-500' %>
            </div>
            <%= submit_tag "Rechercher / Filtrer", class: 'inline-flex items-center px-4 py-2 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-yellow-600 hover:bg-yellow-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-yellow-500' %>
          </div>
        <% end %>
        <%= form_with url: export_pokemons_path(format: :csv), method: :get, class: 'flex items-center', id: 'export-form', local: true do %>
          <%= hidden_field_tag 'pokemon_ids', '', id: 'pokemon_ids_field' %>
          <%= submit_tag "Export to CSV", class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" %>
        <% end %>
      </div>
    </div>
  </div>
</header>
