<% background_style = gradient_background_for_types(pokemon[:types]) %>
<%= link_to pokemon_path(pokemon[:pokedex_id]), class: "block" do %>
  <div class="shadow-lg rounded-lg overflow-hidden m-4 relative z-0 transform transition-transform duration-300 hover:scale-105" style="<%= background_style %>">
    <div class="relative z-10 p-4">
      <div class="flex justify-between items-center p-4 bg-gray-200 bg-opacity-75 rounded-t-lg">
        <div class="flex items-center">
          <%= check_box_tag "pokemon_ids[]", pokemon[:pokedex_id], @selected_pokemons.include?(pokemon[:pokedex_id]), class: "mr-2" %>
          <h2 class="text-xl font-bold"><%= pokemon.dig(:name, :fr) %></h2>
        </div>
        <span class="text-gray-600">N°<%= pokemon[:pokedex_id] %></span>
      </div>
      <div class="flex justify-center items-center p-4 bg-opacity-75 space-x-4">
        <div class="text-center">
          <%= image_tag pokemon.dig(:sprites, :regular), loading: 'lazy', class: "w-32 h-32" if pokemon.dig(:sprites, :regular) %>
          <p class="text-gray-700 mt-2">Normal</p>
        </div>
        <% if pokemon.dig(:sprites, :shiny) %>
          <div class="text-center">
            <%= image_tag pokemon.dig(:sprites, :shiny), loading: 'lazy', class: "w-32 h-32" %>
            <p class="text-gray-700 mt-2">Shiny</p>
          </div>
        <% end %>
      </div>
      <div class="flex justify-center space-x-4 mt-4 bg-opacity-75">
        <% if pokemon[:types] %>
          <% pokemon[:types].each do |type| %>
            <div class="text-center">
              <%= image_tag type[:image], alt: type[:name], loading: 'lazy', class: "w-12 h-12 border-2" %>
              <p class="text-gray-700 mt-2"><%= type[:name] %></p>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
