<% background_style = gradient_background_for_types(@pokemon[:types]) %>
<div class="container mx-auto p-3 mb-20">
  <div class="bg-white shadow-lg rounded-lg overflow-hidden" style="<%= background_style %>">
    <div class="flex justify-between items-center p-2 bg-gray-200 bg-opacity-75">
      <div class="w-1/2">
        <h1 class="text-4xl font-bold"><%= @pokemon.dig(:name, :fr) %> (N°<%= @pokemon[:pokedex_id] %>)</h1>
        <p class="text-xl mt-2"><strong>Catégorie:</strong> <%= @pokemon[:category] %></p>
        <% if @pokemon[:height] %>
          <p class="text-xl mt-2"><strong>Taille:</strong> <%= @pokemon[:height] %></p>
        <% end %>
        <% if @pokemon[:weight] %>
          <p class="text-xl mt-2"><strong>Poids:</strong> <%= @pokemon[:weight] %></p>
        <% end %>
        <p class="text-xl mt-2"><strong>Génération:</strong> <%= @pokemon[:generation] %></p>
      </div>
      <div class="w-1/2 flex items-center space-x-52">
        <div class="text-center">
          <%= image_tag sprite_url(@pokemon[:pokedex_id]), alt: @pokemon.dig(:name, :fr), class: "w-40 h-auto" %>
          <p class="text-gray-700 mt-2">Normal</p>
        </div>
        <% if @pokemon.dig(:sprites, :shiny) %>
          <div class="text-center">
            <%= image_tag sprite_url(@pokemon[:pokedex_id], :shiny), alt: "Shiny " + @pokemon.dig(:name, :fr), class: "w-40 h-auto" %>
            <p class="text-gray-700 mt-2">Shiny</p>
          </div>
        <% end %>
      </div>
    </div>
    <div class="p-4">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <!-- Stats Section -->
        <% if @pokemon[:stats] %>
          <div>
            <h2 class="text-2xl font-bold mb-2">Statistiques :</h2>
            <ul class="space-y-1">
              <li>PV: <%= @pokemon.dig(:stats, :hp) %></li>
              <li>Attaque: <%= @pokemon.dig(:stats, :atk) %></li>
              <li>Défense: <%= @pokemon.dig(:stats, :def) %></li>
              <li>Attaque spéciale: <%= @pokemon.dig(:stats, :spe_atk) %></li>
              <li>Défense spéciale: <%= @pokemon.dig(:stats, :spe_def) %></li>
              <li>Vitesse: <%= @pokemon.dig(:stats, :vit) %></li>
            </ul>
          </div>
        <% end %>

        <!-- Types and Talents Section -->
        <div class="grid grid-cols-1 gap-4">
          <!-- Types Section -->
          <% if @pokemon[:types] %>
            <div>
              <h2 class="text-2xl font-bold mb-2">Types :</h2>
              <ul class="flex space-x-4">
                <% @pokemon[:types].each do |type| %>
                  <li class="flex flex-col items-center">
                    <%= image_tag type[:image], alt: type[:name], class: "w-12 h-12 border-2" %>
                    <span class="text-center mt-1"><%= type[:name] %></span>
                  </li>
                <% end %>
              </ul>
            </div>
          <% end %>

          <!-- Talents Section -->
          <% if @pokemon[:talents] %>
            <div>
              <h2 class="text-2xl font-bold mb-2">Talents :</h2>
              <ul class="flex space-x-10">
                <% @pokemon[:talents].each do |talent| %>
                  <li class="text-lg border-2 p-2"><%= talent[:name] %> <%= "(TC)" if talent[:tc] %></li>
                <% end %>
              </ul>
            </div>
          <% end %>
        </div>

        <!-- Resistances Section -->
        <% if @pokemon[:resistances] %>
          <div>
            <h2 class="text-2xl font-bold mb-2">Résistances :</h2>
            <ul class="grid grid-cols-2 md:grid-cols-3 gap-4">
              <% @pokemon[:resistances].each do |resistance| %>
                <li class="flex items-center">
                  <%= image_tag type_image(resistance[:name]), alt: resistance[:name], class: "w-8 h-8 inline mr-2 border-2" %>
                  <%= resistance[:name] %>: <%= resistance[:multiplier] %>
                </li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <!-- Evolutions Section -->
        <% if @pokemon[:evolution] %>
          <div>
            <h2 class="text-2xl font-bold mb-2">Évolutions :</h2>
            <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
              <!-- Afficher les évolutions précédentes -->
              <% if @pokemon.dig(:evolution, :pre).is_a?(Array) %>
                <% @pokemon.dig(:evolution, :pre).each do |evolution| %>
                  <div class="flex items-center p-4 rounded-lg shadow">
                    <span class="mr-4 text-lg font-semibold">Précédent :</span>
                    <%= image_tag sprite_url(evolution[:pokedex_id]), alt: evolution[:name], class: "w-24 h-auto mr-4 rounded-full" %>
                    <div class="flex flex-col">
                      <span class="text-lg font-semibold"><%= evolution[:name] %></span>
                      <span class="text-black">N°<%= evolution[:pokedex_id] %></span>
                      <span class="text-black"><%= evolution[:condition] %></span>
                    </div>
                  </div>
                <% end %>
              <% elsif @pokemon.dig(:evolution, :pre) %>
                <div class="flex items-center p-4 rounded-lg">
                  <span class="mr-4 text-lg font-semibold">Précédent :</span>
                  <%= image_tag sprite_url(@pokemon.dig(:evolution, :pre, :pokedex_id)), alt: @pokemon.dig(:evolution, :pre, :name), class: "w-24 h-auto mr-4 rounded-full" %>
                  <div class="flex flex-col">
                    <span class="text-lg font-semibold"><%= @pokemon.dig(:evolution, :pre, :name) %></span>
                    <span class="text-gray-600">ID: <%= @pokemon.dig(:evolution, :pre, :pokedex_id) %></span>
                  </div>
                </div>
              <% end %>

              <!-- Afficher les évolutions suivantes -->
              <% if @pokemon.dig(:evolution, :next).is_a?(Array) %>
                <% @pokemon.dig(:evolution, :next).each do |evolution| %>
                  <div class="flex items-center p-4 rounded-lg shadow">
                    <span class="mr-4 text-lg font-semibold">Suivant :</span>
                    <%= image_tag sprite_url(evolution[:pokedex_id]), alt: evolution[:name], class: "w-24 h-auto mr-4 rounded-full" %>
                    <div class="flex flex-col">
                      <span class="text-lg font-semibold"><%= evolution[:name] %></span>
                      <span class="text-black">N°<%= evolution[:pokedex_id] %></span>
                      <span class="text-black"><%= evolution[:condition] %></span>
                    </div>
                  </div>
                <% end %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
